
* {
	box-sizing: border-box;
}

.centrado {
	width: 80%;
	margin: 0 auto;
}


.topdown {
	display: flex;
	align-items: flex-end;

	height: 6em;
	border-radius: 1em;
	border: 1px solid black;
}


.menu div.menu-item {
	display: inline-flex;
	justify-content: right;
	/* flex-direction:row;  */
	text-align: center;
	padding: 0.2rem;
	background-color: blue;
	color: lightgrey;
	display: inline-block;

}

#cabecera {

	background-color: lightblue;
	margin: auto;



}

#pie {
	display: flex;
	align-items: first baseline;
}

.main_container {
	border: 1px solid black;
	padding: 0.5rem;
	height: 65vh;
	box-shadow: 2px 2px 5px blue;
	margin-top: 0.5rem;


	display: flex;
	flex: 1 1 70%;
	padding: 0.5rem;
}


.caja {
	border: 1px dotted red;
}

.contenido {
	width: 100%;
}


#izquierda {
	width: 100%;
	padding: 0.5rem;
	gap: 0.5rem;
	border: 1px solid black;


}

#derecha {
	border: 1px solid black;
	width: 20%;

}


#caja_pequeña {
	height: 30%;
}

#caja_grande {
	height: 70%;
	column-gap: 10px;
	display: flex;
	flex: auto;
	padding: 0.5rem;
}



/* Estilos del pie de página */
#pie {
	margin-top: 0.5rem;
}



@media screen and (max-width: 992px) {

	#caja_grande {
		flex-wrap: wrap;

	}

	#caja_grande {
		flex-basis: 100%;
		row-gap: 10px;
	}


	/* .menu div.menu-item{width: 70%} */

	/* li{
			width: 170px;
		} */
}

/*     div.topdown   {
			flex-direction: column;
			align-items: center;
			padding: 0;
		}
		div.topdown menu.menu-items {
			width: 100%;
		} */


@media screen and (max-width: 768px) {

	.topdown {
		display: flex;
		align-items: center;

	}

	.menu div.menu-item {
		display: flex;
		justify-content: center;
		/* flex-direction:row;  */
		text-align: center;
		justify-items: center;
	}

	.menu {
		position: absolute;
		top: 2%;
		left: 42%;

	}

	.contenido:nth-child(1) {
		display: none;
	}
}

@media screen and (max-width: 544px) {
	.main_container {
		display: inline-block;
		flex: 1 1 10%;
		padding: 0.5rem;
		
	}


	#izquierda {
		height: 72%;
	}

	#derecha {
		border: 1px solid black;
		height: 25%;
		width: 100%;
		margin-top: 5px;
	}
}
