body {
    margin: 3em 10%;
    background: darkolivegreen;
}

img {
    height: 200px;
}

.ball {
    transition: transform 2s;
}

.ball:hover {

    transform: translateX(450px) rotate(2turn);
}
