body{
    background-color: aquamarine;
}

ul, li{
    padding: 0;
    list-style: none;
}

ul.test {
    display: flex;
    margin: 10px;
    background-color: #666;
    justify-content: space-around;
    height: 8rem;
}

ul.test li{
    display: flex;
    justify-content: center; /* Alinea en el eje x */
    align-items: center;
    width: 18%;
    height: 3em;
    background-color: orangered;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.flexend{
    align-items: flex-end; /* Esto hace que se peguen a la parte de abajo del contenedor, antes estaban arriba */
}

.flexend > li:nth-child(3){  /* Hace que el hijo numero 3 se pegue arriba del contenedor */
    align-self: flex-start;
}

.flexstart{  /* Se asegura de que esten arriba aunque ya lo estén */
    align-items: flex-start;
}

.flexstart  > li:nth-child(3){
    align-self: center;  /* Pone en el centro al elemento tres */

}

.baseline{
    align-items: baseline;
    /* Los dos siguientes solo funcionan si los pones juntos, el align content no funciona sin el wrap     */
    align-content: center;
    flex-wrap: wrap;
}

.baseline > li:nth-child(1){
    height: auto;
    line-height: 2.5em;
}

.baseline > li:nth-child(2){
    height: auto;
    line-height: 2em;
}

.baseline > li:nth-child(3){
    height: auto;
    line-height: 5rem;
}

.baseline > li:nth-child(4){
    height: auto;
    line-height: 6.5rem;
}

.baseline > li:nth-child(5){
    height: auto;
    line-height: 1.5rem;
}
/*  */